.video_ShowVideo {
    cursor: pointer;
    margin: 0.4rem;
    margin-bottom: 0;
    width: calc(100% - 0.8rem);
    height: 70%;
    border: 1px solid rgba(128, 128, 128, 0.532);
}

.video_description {
    display: flex;
    height: 5rem;
    margin: auto auto;
}

.video_details {
    width: 80%;
    color: aliceblue;
    padding: 0.1rem;
    margin: 0.1rem;
    height: fit-content;
}

.title_vid_ShowVideo {
    margin: 0;
    font-size: large;
    font-weight: bolder;
    color: antiquewhite;
    display: flex;
    text-align: clip;
}

.vid_views_UploadTime {
    font-size: medium;
    color: rgba(250, 235, 215, 0.555);
    margin: 0.2rem;
    display: flex;
}

/* .pointsbtn {
    background-color: blue;
    padding: 0.2rem;
    width: 7rem;
    border: 2px solid transparent;
    border-radius: 0.4rem;
    color: white;
    cursor: pointer;
    } */
    .pointsbtn {
        padding: 10px;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
        margin-left: 4rem;
  }
  
  .unwatched {
    color: rgb(255, 255, 255);
  }
  
  .watched {
    border: grey;
    color: grey;
  }
  